html {
  text-align: center;
}

.navbar {
  flex-wrap: wrap;
}

.navbar-item {
  margin: 10px;
}

.user-photos {
  flex-wrap: wrap;
  /*padding: 15px 25px 15px 25px;*/
}

.user-heading {
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.user-bio-photo {
  padding: 15px;
  height: 200px;
  width: auto;
}

.user-photo {
  padding: 15px;
  min-width: 250px;
  width: 25%;
}

.user-info {
  display: flex;  
  flex-flow: row;
  padding: 15px 50px 15px 50px;
  text-align: center;
}

.feed-photo > img {
  width: 400px;
}

.photo-likes {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-likes > p > button {
  margin: 0px 15px 0px 15px;
}

.photo-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.photo-top-item {
  margin: 20px 15px 10px 15px;
}

@media screen and (max-width: 600px) {
  .user-info {
  display: flex;  
  flex-flow: row wrap;
  padding: 15px;
  align-items: center;
  }
  .user-bio-photo {
    padding: 15px;
    max-width: 200px;
    width: 60%;
    height: auto;
  }
  .feed-photo > img {
    min-width: 250px;
    width: 60%;
    height: auto;
  }
}

.user-item {
  padding: 15px;
  /*flex-flow: row;*/
}